{% extends "master-1.html" %}
{% block title %} Hệ thống Phân vùng, Phân loại xuất huyết não {% endblock %}

{% block content %}

<div class="container">

    <div class="row pd-top-20">
        <div class="col-12">
            <h1 class="f-25 b"><u>Tải lên</u> tệp ảnh Y Khoa (*.DICOM) </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 div-upload-file">
            <div class="bg" style="padding: 20px; background-color: #3d99f5; border-radius: 5px;">
                <div class="style-upload"></div>
                <div style="border: 2px dashed #e4e9f0; padding: 40px;" class="text-center ">
                    <label for="chon-file" class="text-center block">
                        <img src="static/cdn/upload-white.png" height="100" width="100" class="img-fluid anh-buon">
                    </label>
                    <label for="chon-file" style="color: white; font-weight: bold;" class="thong-bao">
                        Chọn tệp tin DICOM (*.DICOM)
                    </label>
                    <input type="file" class="hide" id="chon-file">
                    <br>
                    <button class="chon-lai hide" onclick="location.reload();">
                        <img src="static/cdn/reload.png" height="20" width="20" class="img-fluid">
                        <span style="position: relative; top: 2px; font-weight: bold;">THỬ LẠI</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row div-anh-dicom pd-top-20 hide">
        <div class="col-12 ">
            <div class="border-top pd-top-20"></div>
        </div>
        <div class="col-6">
            <p class="f-20 b">#Ảnh não (từ tệp DICOM)</p>
            <img src="#" style="width: 350px;" class="border img-fluid text-center border-radius-10 anh">
        </div>
        <div class="col-6">
            <p class="f-20 b">#Thông tin Ca Bệnh</p>
            <table class="table" style="border: 1px solid #eee;">
                <thead>
                <tr>
                    <th>Header</th>
                    <th>Tag Desscription</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row div-nhan-dang pd-top-20">
        <div class="col-12 ">
            <div class="border-top pd-top-20"></div>
        </div>
        <div class="col-12">
            <p class="f-25 b">Kết quả</p>
        </div>
        <div class="loading col-12" style="height: 75px;"></div>

        <div class="col-12">
            <div class="row nao-that ">
                <div class="col-12">
                    <p class="f-25 b" style="color: #4183D7;">Xuất huyết não thất</p>
                    <p><strong><em>Định nghĩa</em>:</strong> Là loại xuất huyết trong não thất.</p>
                    <p><em><strong>Nguyên nhân</strong>:</em> Do rách các mạnh máu thành não thất, mạch mạc hoặc chảy
                        máu từ nhu mô não lân cận vào não thất.</p>
                    <p><em><strong>Đặc điểm CT</strong>:</em> Tăng độ đậm trong não thất, Não thất ngập máu, có thể lan
                        qua các não thất khác. Trên phim, thường có hình mực dịch – máu </p>
                </div>
            </div>
            <div class="row duoi-man-cung">
                <div class="col-12">
                    <p class="f-25 b" style="color: #4183D7;">Tụ máu dưới màn cứng</p>
                    <p><strong><em>Định nghĩa</em>:</strong> Tụ máu dưới màn cứng là tụ máu ở khoang dưới màng cứng;
                        khoang giữa màn cứng và màng nhện.</p>
                    <p><strong><em>Nguyên nhân:</em></strong> Do căng, rách tĩnh mạch cầu nối ở võ não, khi các tĩnh
                        mạch đi qua khoang dưới nhện vào xoang tĩnh mạch màng cứng.</p>
                    <p><strong><em>Đặc điểm CT:</em></strong> Vị trí hay gặp tầng trên lều, vùng trán đỉnh, hố não giữa,
                        cạnh liềm não, thường một bên ở người lớn, hai bên trở trẻ em (80-85%).</p>
                </div>
            </div>
            <div class="row ngoai-man-cung">
                <div class="col-12">
                    <p class="f-25 b" style="color: #4183D7;">Tụ máu ngoài màn cứng</p>
                    <p><em><strong>Định nghĩa</strong>:</em> Tụ máu ngoài màn cứng là tụ máu ở khoang giữa bạn sọ trong
                        và mang cứng.</p>
                    <p><em><strong>Nguyên nhân</strong>:</em> Do tổn thương động mạch (90%), tĩnh mạch tủy xương, xoang
                        và các tĩnh mạch màng cứng (10%).</p>
                    <p><strong><em>Đặc điểm CT:</em></strong> Vị trí thường gặp ở tầng trên liều 95%. Hay gặp ở thái
                        dương – đỉnh 67%, ít gặp hơn ở trán, chẩm. Vùng dưới liều gặp 5-10%, thường do tổn thương xoang
                        tĩnh mạch màn cứng. Độ đậm khối tụ máu có thể cao (2/3 trường hợp) hay hổn hợp  (cao, thấp trong
                        1/3 trường hợp). Khối máu có thể có các cùng đậm độ rất thấp bên trong do máu đang chảy, chưa
                        đông cục máu – còn gọi là dấu hiểu ‘dòng xoáy’.</p>
                </div>
            </div>
            <div class="row khoan-nhen">
                <div class="col-12">
                    <p class="f-25 b" style="color: #4183D7;">Xuất huyết khoang dưới nhện</p>
                    <p><em><strong>Định nghĩa</strong>:</em> Xuất huyết khoang dưới nhện là xuất huyết ở khoang dưới
                        nhện, khoang giữa màn nhện và màng mềm.</p>
                    <p><em><strong>Nguyên nhân</strong>:</em> Do tổn thương mạch máu trong khoang dưới nhện.</p>
                    <p><em><strong>Đặc điểm CT</strong>:</em> Vị trí thường khu trú quang vùng dập não, vỡ sọ, rãnh liên
                        bán cầu hoặc lan tỏa theo khoang dưới nhện, các bể não tủy, lều não.</p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block script %}
    <script type="text/javascript">
        thong_tin = {
            filename: ''
        }
        $(document).ready(function () {

        });

        $('#chon-file').change(function () {
            var formData = new FormData();
            formData.append("file", document.getElementById("chon-file").files[0]);
            $.ajax({
                url: 'upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                xhr: function () {
                    var xhr = $.ajaxSettings.xhr();
                    xhr.upload.onprogress = function (e) {
                        var giaTri = Math.floor(e.loaded / e.total * 100);
                        $('.style-upload').css('width', 'calc(' + giaTri + '% + 40px)');
                    };
                    return xhr;
                },
                success: function (response) {
                    if (response.status === 200) {
                        toastr.success("Tên tệp: " + response.filename, "Tải lên thành công");
                        $('.anh').attr('src', "static/dicom/png/" + response.filename + ".png")
                        $.map(JSON.parse(response.thongtin), function (value) {
                            $('table tbody').append("<tr>" +
                                "<td> (" + value.GroupTag + ", " + value.ElementTag +
                                ") </td>" +
                                "<td>" + value.TagDesscription + "</td>" +
                                "<td>" + value.Value + "</td>" +
                                "</tr>");
                        });

                        // Lưu thông tin
                        thong_tin.filename = response.filename + ".png";
                        $(".div-anh-dicom").removeClass('hide');
                        $('html, body').animate({scrollTop: $(".div-anh-dicom").offset().top}, 500);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function nhanDang(filename) {
            $.ajax({
                url: 'nhan-dang',
                type: 'POST',
                data: { "filename": filename },
                success: function (response) {
                    $.map(JSON.parse(response), function (value) {
                        if (value.ketqua === "Xuất huyết não thất") {
                            $('.nao-that').append(viewKetQua(value)).removeClass('hide');
                        }

                        if (value.ketqua === "Tụ máu dưới màn cứng") {
                            $('.duoi-man-cung').append(viewKetQua(value)).removeClass('hide');
                        }

                        if (value.ketqua === "Tụ máu ngoài màn cứng") {
                            $('.ngoai-man-cung').append(viewKetQua(value)).removeClass('hide');
                        }

                        if (value.ketqua === "Xuất huyết khoang dưới nhện") {
                            $('.khoan-nhen').append(viewKetQua(value)).removeClass('hide');
                        }
                    });

                    $('.loading').waitMe('hide').addClass('hide');

                    $('html, body').animate({
                        scrollTop: $(".div-nhan-dang").offset().top
                    }, 500);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
    {% endblock %}